@import 'theme.css';


:root {
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h6-font-size: 20px;
    --nav-font-size: 14px;
    --footer-font-size: 18px;
    --cls-4-font-size: 72px;

    --casperlabs-color-red: #e1372d;

    --casperlabs-color-black: #1a1c1f;
    --casperlabs-color-slate: #4b4f54;
    --casperlabs-color-yellow-light: #fcfbe5;
    --casperlabs-color-yellow: #f0ec74;
    --casperlabs-color-yellow-dark: #c5c25f;
    --casperlabs-color-royal: #0072ce;

    --color-error: red;
    --color-footer: #23262a;

    --casperlabs-font-headlines: BwSeidoRound-Medium, sans-serif;
    --casperlabs-font-body: Benton-Sans, sans-serif;
}
body{
    font-family: "Arial", Helvetica, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Arial", Helvetica, sans-serif;
}

pre.literal-block, div[class^='highlight'] pre, .linenodiv pre {
    font-size: 14px;
}

.footer {
    display: none;
}


.wy-grid-for-nav {
    margin-top: 72px;
}

.wy-nav-side ,.homeContainer{
    margin-top: 72px;
}

* {
    box-sizing: border-box;
}

strong,
b {
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

p {
    margin-bottom: 1em;
    margin-top   : 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color        : inherit;
    font-weight  : 600;
    line-height  : 1.25;
    margin-bottom: 16px;
    margin-top   : 1.5em;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13.6px;
}

ul,
ol {
    margin-bottom: 1em;
    margin-top   : 0;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
    margin-top   : 0;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha;
}

img {
    border-style: none;
    box-sizing  : content-box;
    max-width   : 100%;
}

img[align='right'] {
    padding-left: 1.25em;
}

img[align='left'] {
    padding-right: 1.25em;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
    display        : block;
    margin-bottom  : 16px;
    margin-top     : 0;
    overflow       : auto;
    width          : 100%;
}

table tr {
    background-color: transparent;
    border-top      : 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table th,
table td {
    border : 1px solid #dfe2e5;
    padding: 6px 13px;
}

table th {
    background-color: inherit;
    color           : inherit;
    font-weight     : 600;
}

table td {
    color: inherit;
}

blockquote {
    color        : #6a737d;
    font-size    : 16px;
    margin       : 0;
    margin-bottom: 16px;
    padding      : 0 1em;
}

blockquote> :first-child {
    margin-top: 0;
}

blockquote> :last-child {
    margin-bottom: 0;
}

code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius   : 3px;
    color           : inherit;
    font-family     : SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    font-size: 85%;
    margin   : 0;
    padding  : 3.2px 6.4px;
}

pre {
    margin-bottom: 16px;
}

pre code {
    background-color: transparent;
    border          : 0;
    display         : inline;
    font-size       : 85%;
    line-height     : inherit;
    margin          : 0;
    max-width       : auto;
    overflow        : visible;
    padding         : 0;
    white-space     : pre;
    word-break      : normal;
    word-wrap       : normal;
}

kbd {
    background-color   : #fafbfc;
    border             : solid 1px #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius      : 3px;
    box-shadow         : inset 0 -1px 0 #c6cbd1;
    color              : #444d56;
    display            : inline-block;
    font-family        : SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    font-size     : 68.75%;
    line-height   : 10px;
    padding       : 3px 5px;
    vertical-align: middle;
}


/* Links */
.anchor {
    display : block;
    position: relative;
    top     : -80px;
}

.hash-link {
    line-height  : 1;
    margin-left  : -20px;
    opacity      : 0;
    padding-right: 4px;
    transition   : opacity 0.3s;
}

.hash-link:hover {
    opacity   : 1 !important;
    transition: none;
}

.hash-link .hash-link-icon {
    vertical-align: middle;
}

@media only screen and (min-width: 1135px) {
    .buttonRow {
      display: flex;
      justify-content: center;
    }
  }
  
@media only screen and (max-width: 1135px) {
    .homeContainer h1 br {
        display: block;
    }

    .buttonRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle {
        order: 1;
    }

    .left {
        order: 2;
    }

    .right {
        order: 3;
    }

    .middle, .left, .right {
        width: 100%;
    }

    .homeContainer .roleButtonWrapper {
        margin: 20px auto;
    }

    @media (max-width: 500px) {
        .homeContainer .roleButtonWrapper {
        width: auto !important;
        height: auto !important;
        }
    }

    .roleButtonWrapper.core a * {
        text-align: left;
    }

    .roleButtonWrapper.core {
        justify-content: left;
        width: 400px;
        height: 160px;
    }

    .roleButtonWrapper.core .icon {
        padding-left: 0;
    }

    .roleButtonWrapper.core .button {
        flex-direction: row;
    }

    .roleButtonWrapper.core .text h3 {
        text-align: left;
        padding-left: 10px;
    }

    .roleButtonWrapper.core .text p {
        text-align: left;
        padding-left: 10px;
    }

}

.roleButtonWrapper {
    border: 3px solid #E6E6E6;
    border-radius: 10px;
    text-align: left;
    margin: 20px;
    width: 400px;
  }
  
  .roleButtonWrapper:hover {
    background: #F6F5F3;
  }
  
  .roleButtonWrapper a:hover {
    background: none;
    color: #000;
  }
  
  .roleButtonWrapper h3 {
    margin-top: 5px;
  }
  
  .roleButtonWrapper .button {
    display: flex;
    border: none;
    text-transform: unset;
  }
  
  .roleButtonWrapper .icon {
    margin: 5px 0 0 0;
    text-align: center;
    min-width: 120px;
  }
  
  .roleButtonWrapper img {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .roleButtonWrapper:not(.core) .list {
    margin-left: -10px;
  }
  
  .subtle {
    font-size: 0.9em;
    color: #a6a6a6;
  }
  
  .roleButtonWrapper.core .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .roleButtonWrapper.core {
    display: flex;
    justify-content: center;
    height: 358px;
    width: 250px;
  }
  
  .roleButtonWrapper.core .icon {
    padding-left: 10px;
  }
  
  .roleButtonWrapper.core .text h3 {
    text-align: center;
  }
  
  .roleButtonWrapper.core .text p {
    text-align: center;
    width: 100%;
  }
  
  .roleButtonWrapper.core .text .list {
    text-align: left;
  }
  
/* Buttons */
.button {
    border         : 1px solid #000;
    border-radius  : 3px;
    color          : #000;
    display        : inline-block;
    font-size      : 14px;
    font-weight    : 400;
    line-height    : 1.2em;
    padding        : 10px;
    text-decoration: none !important;
    text-transform : uppercase;
    transition     : background 0.3s, color 0.3s;
}

.button:hover {
    background: #000;
    color     : #fff;
}

/* Headers */
h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link {
    opacity   : 0.5;
    transition: none;
}

/* Blockquotes */
blockquote {
    background-color: rgba(255, 229, 100, 0.3);
    border-left     : 8px solid #ffe564;
    padding         : 15px 30px 15px 15px;
}

/* Utils */
.wrapper {
    margin   : 0px auto;
    max-width: 1100px;
    padding  : 0 20px;
}

.wrapper blockquote>p:first-child {
    padding-top: 0;
}

.center {
    display   : block;
    text-align: center;
}

/* End of Utils */

/* Home Container */
.homeContainer {
    text-align: center;
}

.homeContainer .homeWrapper {
    padding: 2em 10px;
}

.homeContainer .homeWrapper .wrapper {
    margin   : 0px auto;
    max-width: 900px;
    padding  : 0 20px;
}

.homeContainer .homeWrapper .projectLogo img {
    height       : 100px;
    margin-bottom: 0px;
}

.homeContainer .homeWrapper #project_title {
    font-size     : 300%;
    letter-spacing: -0.08em;
    line-height   : 1em;
    margin-bottom : 80px;
}

.homeContainer .homeWrapper #project_tagline {
    font-size     : 200%;
    letter-spacing: -0.04em;
    line-height   : 1em;
}

@media only screen and (min-width: 736px) {
    .homeContainer .homeWrapper {
        position: relative;
    }

    .homeContainer .homeWrapper #inner {
        max-width    : 600px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 480px) {
    .homeContainer .homeWrapper {
        padding-left : 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 736px) {
    .homeContainer .homeWrapper {
        position: relative;
    }

    .homeContainer .homeWrapper #inner {
        max-width    : 600px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .homeContainer .homeWrapper #inner {
        max-width: 750px;
    }

    .homeContainer .homeWrapper .projectLogo {
        align-items    : center;
        bottom         : 0;
        display        : flex;
        justify-content: flex-end;
        left           : 0;
        padding        : 2em 100px 4em;
        position       : absolute;
        right          : 0;
        top            : 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        height    : 100%;
        max-height: 250px;
    }
}

@media only screen and (min-width: 1500px) {
    .homeContainer .homeWrapper #inner {
        max-width     : 1100px;
        padding-bottom: 40px;
        padding-top   : 40px;
    }

    .wrapper {
        max-width: 1400px;
    }
}

/* End of Home Container */

/* Navbar */

.fixedHeaderContainer header {
    background-color: #000;
    color: white;
    height: 75px;
    padding: 30px 15px 10px 15px;
    margin-top: -15px;
}

.fixedHeaderContainer {
    background: #000;
    color     : #fff;
    min-height: 50px;
    padding   : 8px 0;
    position  : fixed;
    width     : 100%;
    z-index   : 9999;
    transform : translate3d(0, 0, 0);
}

@media only screen and (min-width: 1024px) {
    .fixedHeaderContainer {
        flex-shrink: 0;
    }
}

.fixedHeaderContainer a {
    align-items: center;
    border     : 0;
    color      : #fff;
    display    : flex;
    flex-flow  : row nowrap;
    height     : 34px;
    z-index    : 10000;
}

.fixedHeaderContainer header {
    display   : flex;
    flex-flow : row nowrap;
    position  : relative;
    text-align: left;
}

.fixedHeaderContainer header img {
    height      : 100%;
    margin-right: 10px;
}

.fixedHeaderContainer header .headerTitle {
    font-size: 1.25em;
    margin   : 0;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    display    : block;
    font-size  : 1.25em;
    line-height: 18px;
    margin     : 0;
    position   : relative;
    z-index    : 9999;
}

.fixedHeaderContainer header h3 {
    color          : white;
    font-size      : 16px;
    margin         : 0;
    margin-left    : 10px;
    text-decoration: underline;
}

/* End of Navbar */

/* Search */
input[type='search'] {
    -moz-appearance   : none;
    -webkit-appearance: none;
}

.navSearchWrapper {
    align-items    : center;
    align-self     : center;
    display        : flex;
    justify-content: center;
    padding-left   : 10px;
    position       : absolute;
    right          : 10px;
    top            : 10px;
}

.navSearchWrapper:before {
    border       : 3px solid #e5e5e5;
    border-radius: 50%;
    content      : ' ';
    display      : block;
    height       : 6px;
    left         : 15px;
    position     : absolute;
    top          : 50%;
    transform    : translateY(-58%);
    width        : 6px;
    z-index      : 1;
}

.navSearchWrapper:after {
    background: #e5e5e5;
    content   : ' ';
    height    : 7px;
    left      : 24px;
    position  : absolute;
    top       : 55%;
    transform : rotate(-45deg);
    width     : 3px;
    z-index   : 1;
}

.navSearchWrapper .aa-dropdown-menu {
    background : #f9f9f9;
    border     : 3px solid rgba(57, 57, 57, 0.25);
    color      : #393939;
    font-size  : 14px;
    left       : auto !important;
    line-height: 1.2em;
    right      : 0 !important;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header {
    background : #000;
    color      : white;
    font-size  : 14px;
    font-weight: 400;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
    background-color: #000;
    color           : #fff;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
    color: #000;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion__secondary,
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column {
    border-color: rgba(57, 57, 57, 0.3);
}

input#search_input_react {
    background-color  : rgba(0, 0, 0, 0.2);
    border            : none;
    border-radius     : 20px;
    color             : #fff;
    font-size         : 14px;
    font-weight       : 300;
    line-height       : 20px;
    outline           : none;
    padding-left      : 25px;
    position          : relative;
    -webkit-transition: 0.5s width ease;
    -moz-transition   : 0.5s width ease;
    -o-transition     : 0.5s width ease;
    transition        : 0.5s width ease;
    width             : 170px;
}

.navSearchWrapper:before {
    left: 24px;
}

.navSearchWrapper:after {
    left: 35px;
}

input#search_input_react:focus,
input#search_input_react:active {
    color: #fff;
    width: 220px;
}

.navigationSlider .slidingNav .navSearchWrapper .algolia-docsearch-footer a {
    height: auto;
}

@media only screen and (max-width: 735px) {
    .navSearchWrapper {
        width: 40%;
    }
}

/* Navigation Slider */
.navigationSlider .navSlideout {
    cursor     : pointer;
    padding-top: 4px;
    position   : absolute;
    right      : 10px;
    top        : 0;
    transition : top 0.3s;
    z-index    : 101;
}

.navigationSlider .slidingNav {
    bottom    : auto;
    box-sizing: border-box;
    left      : 0;
    position  : fixed;
    right     : 0;
    top       : 0;
}

.navigationSlider .slidingNav.slidingNavActive {
    height     : auto;
    padding-top: 42px;
    width      : 300px;
}

.navigationSlider .slidingNav ul {
    background: #000;
    box-sizing: border-box;
    color     : #fff;
    display   : flex;
    flex-wrap : nowrap;
    list-style: none;
    margin-top: 50px;
    padding   : 0;
    width     : 100%;
}

.navigationSlider .slidingNav.slidingNavActive ul {
    display: block;
}

.navigationSlider .slidingNav ul li {
    flex       : 1 1 auto;
    margin     : 0;
    text-align : center;
    white-space: nowrap;
}

.navigationSlider .slidingNav ul li a {
    align-items    : center;
    box-sizing     : border-box;
    color          : #000;
    color          : inherit;
    display        : flex;
    font-size      : 0.9em;
    height         : auto;
    height         : 50px;
    justify-content: center;
    margin         : 0;
    padding        : 10px;
    transition     : background-color 0.3s;
}

.navigationSlider .slidingNav ul li>a:focus,
.navigationSlider .slidingNav ul li>a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive>a,
.navigationSlider .slidingNav ul li.siteNavGroupActive>a {
    background-color: #000;
}

/* End of Navigation Slider */

.navPusher {
    left       : 0;
    min-height : 100%;
    padding-top: 100px;
    position   : relative;
    z-index    : 99;
}

.singleRowMobileNav.navPusher {
    padding-top: 50px;
}

.navPusher:after {
    background        : rgba(0, 0, 0, 0.4);
    content           : '';
    height            : 0;
    opacity           : 0;
    position          : absolute;
    right             : 0;
    top               : 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition        : opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    width             : 0;
}

@media screen and (min-width: 1024px) {
    .navPusher {
        display       : flex;
        flex-direction: column;
        flex-grow     : 1;
        min-height    : calc(100vh - 50px);
        padding-top   : 50px;
    }

    /* those make the footer sticky and work even in IE 11 */
    .navPusher> :first-child {
        flex-grow: 1;
    }
}

.sliderActive .navPusher:after {
    height            : 100%;
    opacity           : 1;
    -webkit-transition: opacity 0.5s;
    transition        : opacity 0.5s;
    width             : 100%;
    z-index           : 100;
}

@media only screen and (max-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        background-color: rgba(242, 196, 178, 0.25);
        border          : none;
        border-radius   : 20px;
        box-sizing      : border-box;
        color           : #393939;
        font-size       : 14px;
        line-height     : 20px;
        outline         : none;
        padding-left    : 38px;
        position        : relative;
        transition      : background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55),
            width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.2s ease;
        width : 100%;
        height: 30px;
    }

    .reactNavSearchWrapper input#search_input_react:focus,
    .reactNavSearchWrapper input#search_input_react:active {
        background-color: #000;
        color           : #fff;
    }

    .reactNavSearchWrapper .algolia-docsearch-suggestion--subcategory-inline {
        display: none;
    }

    .reactNavSearchWrapper>span {
        width: 100%;
    }

    .reactNavSearchWrapper .aa-dropdown-menu {
        font-size   : 12px;
        line-height : 2em;
        padding     : 0;
        border-width: 1px;
        min-width   : 500px;
    }

    .reactNavSearchWrapper .algolia-docsearch-suggestion__secondary {
        border-top: none;
    }

    .aa-suggestions {
        min-height                : 140px;
        max-height                : 60vh;
        -webkit-overflow-scrolling: touch;
        overflow-y                : scroll;
    }

    #languages-dropdown {
        left: 0px;
        top : 50px;
    }

    #languages-dropdown-items {
        background-color: #000;
        display         : flex;
        flex-direction  : row;
    }
}

@media only screen and (min-width: 1024px) {
    .navSearchWrapper {
        padding-left: 10px;
        position    : relative;
        right       : auto;
        top         : auto;
    }

    .reactNavSearchWrapper input#search_input_react {
        height        : 100%;
        padding-top   : 8px;
        padding-bottom: 8px;
        padding-left  : 38px;
    }

    .navSearchWrapper .algolia-autocomplete {
        display: block;
    }

    .navigationSlider {
        height     : 34px;
        margin-left: auto;
        position   : relative;
    }

    .navigationSlider .navSlideout {
        display: none;
    }

    .navigationSlider nav.slidingNav {
        background: none;
        height    : auto;
        position  : relative;
        right     : auto;
        top       : auto;
        width     : auto;
    }

    .navigationSlider .slidingNav ul {
        background: none;
        display   : flex;
        flex-flow : row nowrap;
        margin    : 0;
        padding   : 0;
        width     : auto;
    }

    .navigationSlider .slidingNav ul li a {
        border     : 0;
        color      : rgba(255, 255, 255, 0.8);
        display    : flex;
        font-size  : 16px;
        font-size  : 1em;
        font-weight: 300;
        height     : 32px;
        line-height: 1.2em;
        margin     : 0;
        padding    : 0;
        padding    : 6px 10px;
    }

    .navigationSlider .slidingNav ul li a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive a,
    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: #fff;
    }
}

@media only screen and (max-width: 735px) {
    .navigationSlider .slidingNav ul {
        overflow-x: auto;
    }

    .navigationSlider .slidingNav ul::-webkit-scrollbar {
        display: none;
    }

    .reactNavSearchWrapper .aa-dropdown-menu {
        min-width: 400px;
    }
}

@media only screen and (max-width: 475px) {
    .reactNavSearchWrapper .aa-dropdown-menu {
        min-width: 300px;
    }
}

.footer h2 {
    text-transform: uppercase;
    font-size     : 14px;
    letter-spacing: 1px;
    font-weight   : 600;
}

@media (min-width:1200px) {
    .footer-menus {
        order: 1;
    }
}

.footer-menu {
    color: #fff;
}

.footer-menu h2 {
    color: #e1372d;
}

.footer-menu ul {
    list-style: none;
    padding   : 0;
}

.footer-menu li {
    margin-top: 10px;
}

.footer-menu a:hover {
    color: #e1372d;
}

@media (max-width:767px) {
    .footer-social {
        padding-top     : 20px;
        margin-top      : 20px;
        border-top-width: 8px;
        border-color    : rgba(153, 153, 153, .25);
    }
}

@media (min-width:1200px) {
    .footer-social {
        order: 2;
    }
}

.footer-social-list a {
    display: block;
}

@media (max-width:767px) {
    .footer-social-list li+li {
        margin-left: 10px;
    }
}

@media (min-width:768px) {
    .footer-social-list {
        width: 200px;
    }

    .footer-social-list li {
        position: relative;
        padding : 15px;
    }
}

.footer-social-border {
    position           : absolute;
    top                : 0;
    right              : 0;
    bottom             : 0;
    left               : 0;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    pointer-events     : none;
    display            : none;
    border-color       : rgba(153, 153, 153, .25);
}

@media (min-width:768px) {
    .footer-social-border {
        display: block;
    }
}

footer .menu-item a {
    color: white;
}

footer a {
    color: white;
}

footer div.bg-black-25 ul {
    margin: 0px;
}

footer div.bg-black-25 ul li:nth-child(1) {
    padding-top: 3px;
}

.footer-social-list li:nth-child(1) {
    margin: 3.5px 0px 0px;
}

.footer-social-list .border-r-1 {
    border-right: 1px solid var(--casperlabs-color-slate);
}

.footer-social-list .border-t-1 {
    border-top: 1px solid var(--casperlabs-color-slate);
}
.w-100p {
    width: 100%;
}

.w-auto {
    width: auto;
}

.xl\:-mb-40 {
    margin-bottom: -40px;
}
.mb-0 {
    margin-bottom: 0;
}

.md\:justify-between {
    justify-content: space-between;
}

.xl\:justify-between {
    justify-content: space-between;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.md\:py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-gray-darker {
    background-color: #121212;
}

.text-gray {
    color: #777;
}

.text-14 {
    font-size: 14px;
}

@media (min-width: 768px) {
    .md\:flex {
        display: flex;
    }  
}

.ml-40 {
    margin-left: 40px;
}

.max-w-none {
    max-width: none;
}

.justify-between {
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .xl\:w-auto {
        width: auto;
    }

    .xl\:mb-0 {
        margin-bottom: 0;
    }

    .md\:flex {
        display: flex;
    }
}

.mt-20 {
    margin-top: 20px;
}

.text-12 {
    font-size: 12px;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.list-reset {
    list-style: none;
    padding: 0;
}

.footer-social-list li:nth-child(1) {
    margin: 3.5px 0px 0px;
}


@media (min-width: 768px) {
    .footer-social-list li {
        position: relative;
        padding: 15px;
    }
}

footer .menu-item a {
    color: white;
}

.footer-menu a:hover {
    color: #e1372d;
}

footer a {
    color: white;
}

.hover\:text-telegram:hover {
    color: #08c;
}

.hover\:text-medium:hover {
    color: #00ab6c;
}

.hover\:text-discord:hover {
    color: #7289da;
}

.hover\:text-twitter:hover {
    color: #1da1f2;
}

.hover\:text-instagram:hover {
    color: #e1306c;
}

.hover\:text-facebook:hover {
    color: #3b5998;
}

.icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media (min-width: 1200px) {
    .xl\:flex {
        display: flex;
    }
}

.max-w-none {
    max-width: none;
}

.items-center {
    align-items: center;
}

@media (min-width: 768px) {
   .container {
        padding-left: 40px;
        padding-right: 40px;
    } 
}

@media (min-width: 1200px) {
    .xl\:mt-0 {
        margin-top: 0;
    }    
}

.icon-36 {
    width: 36px;
    height: 36px;
}

.ml-10 {
    margin-left: 10px;
}

.footer a {
    color: white;
}

svg {
    fill: white;
}

li + li {
    margin-top: 0.25em;
}

img.logo {
    width: 184px;
    position: absolute;
    top: 19px;
    left: 10px;
    padding: 0;
    margin: 0;
    height: 51px!important;
}

.docMainWrapper .wrapper, .headerWrapper.wrapper, .wrapper {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 100%;
}
@media only screen and (min-width: 1024px) {
    .navigationSlider {
        height: 34px;
        position: relative;
    }
}

@media only screen and (min-width: 1024px) {
    .navigationSlider {
        margin-left: 20%!important;
    }    
}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li a {
        color: white;
        letter-spacing: 0.11em;
    }    
}

.navigationSlider .slidingNav ul li a:hover {
    color: var(--casperlabs-color-red);
}


input#search_input_react {
    background-color: var(--casperlabs-color-slate);
}